body {
  background-color:#ffffff;
}
.header {
  margin-left: 295px;
  width: 759px;
  height: 40px;
  background-color: #BB2222;
  text-align: center;
}
h1 {
  color: #ffffff;
}
.sunset {
  display: flex;
  justify-content: center;
  padding: 20px 20px;
}
.text {
  margin-left: 295px;
  width: 759px;
  font-size: 18px;
  color: #0a0a0a;
}

