body {
  background-color:#ffffff;
  margin: 0;
  max-width: 786px;
  margin: 0 auto;
}
.header {
  margin-left: 15px;
  width: 759px;
  height: 40px;
  background-color: #BB2222;
  text-align: center;
}
h1 {
  color: #ffffff;
}
.sunset {
  display: flex;
  justify-content: center;
  padding: 20px 20px;
}
.text {
  margin-left: 15px;
  width: 759px;
  font-size: 18px;
  color: #0a0a0a;
}
a {
  text-decoration: none;
}
.cars {
  display: flex;
  justify-content: center;
  list-style: none;
}
li {
  border-style: dashed;
}
.text2 {
  margin-left: 15px;
  width: 759px;
  font-size: 18px;
  color: #0a0a0a;
}
.footer {
  margin-left: 15px;
  width: 759px;
  height: 25px;
  background-color: #000000;
  text-align: center;
}
h3 {
  color: #ffffff;
  font-size: 20px;
}



